*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 100%;
    height: 900px;
    background: rgba(255, 144, 14, 0.1);
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin: 0 170px;
    margin-bottom: 50px;
}
.nav-title{
    color: #131313;
    font-weight: 700;
    font-size: 25px;
}
.nav-list{
    display: flex;
    gap: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
.nav-list li{
    list-style: none;
}
/* nav close */
/* Brand of group start */
.brand{
    width: 690px;
    height: 225px;
    text-align: center;
    margin: 0 350px;
}
.brand-title{
    width: 300px;
    font-weight: 700;
    font-size: 44px;
    color: #131313;
}
.brand-description{
    color: #727272;
    font-weight: 400;
    font-size: 14px;
    width: 688px;
    height: 52px; 
    margin-top: 10px;
    margin-bottom: 5px;
}
.btn-primary{
    width: 160px;
    height: 54px;
    font-weight: 600;
    font-size: 15px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    border: none;
}
/* Brand new group close */
/* Banner image */
.banner img{
    margin: 0px 170px;
    width: 1000px;
    height: 500px;
    margin-top: 40px;
}
/* Banner image close */
/* Quick list of Our Features */
.features{
    margin: 50px 200px;
}
.features-start{
    display: flex;
    gap: 40px;
}
.features-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.features-image img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}
.features-list{
    padding-top: 170px;
}
.features-title{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 20px;
}
.features-title .span1{
    color: #727272;
}
.features-title .span2{
    color: #131313;
}
.features-title .span3{
    color: #FF900E;
}
.features-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 326px;
    height: 78px;
    margin-bottom: 35px;
}
/* Quick list of Our Features end */
/* Features you will love & enjoy & experience */
.experience-start{
    display: flex;
    margin: 0 140px;
    gap: 80px;
}
.experience-feature{
    margin-top: 50px;
    
}
.experience-title{
    color: #131313;
    font-weight: 700;
    font-size: 35px;
    border-left: 3px solid #FF900E;
    padding-left: 15px;
    margin-bottom: 20px;
}
.experience-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}
.experience-feature article{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(161, 70, 70, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    width: 430px;
    height: 90px;
}
.article-title{
    font-weight: 600;
    font-size: 18px;
    color: #131313;
    margin-bottom: 10px;
}
.article-info{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.experience-image img{
    width: 550px;
    height: 800px;
}
.experience-image .button{
    margin-top: -100px;
    margin-left: -50px;
}
.button .btn-primary{
    width: 250px;
    height: 150px;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 100px;
}
.btn-primary .span-ex{
    font-weight: 500;
    font-size: 20px;
}
/* Features you will love & enjoy & experience end */
/* Some facts */
.facts{
    margin-left: 140px;
}
.facts-title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
}
.facts-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 462px;
    height: 32px;
    margin-bottom: 80px;
}
/* Some facts close */
/* Achivement */
.project-gain{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.gain{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 170px;
    height: 170px;
}
.gain:hover{
    background-color: rgb(197, 236, 233);
    transform: scale(1.1) translate(5px) rotate(10deg);
}
.gain img{
    margin-top: 40px;
    width: 45.22px;
    height: 45.22px;
    margin-bottom: 5px;
}
.gain-number{
    font-weight: 600;
    font-size: 25px;
    color: #424242;;
}
.gain-info{
    font-weight: 600;
    font-size: 12px;
    color: #727272;
    margin-top: 5px;
}
/* Our Sponspors */
.sponspors-start{
    text-align: center;
    width: 542px;
    height: 129px;
    margin: 100px 400px 5px 400px;
}
.sponspors-title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}
.sponspors-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}
.sponspors-item{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.sponspors-item img{
    width: 120px;
    height: 40px;
}
/* Our Sponspors */
/* Footer section */
.footer-section{
    background: #FFF4E7;
    border-radius: 8px;
    width: 1000px;
    height: 100px;
    text-align: center;
    margin: 80px 175px;
}
.footer-description{
    color: #424242;
    padding-top: 40px;
}
/* Footer section close */
/* Responsive only mobile */
@media only screen and (max-width: 588px){
    .container .nav{
        width: 100%;
    }
    .project-gain{
        flex-direction: column;
        margin-left: 290px;
    }
    .sponspors-start{
        padding: 0 60%;
        width: 100%;
    }
    .sponspors-item{
        padding:0 130%;
        flex-direction: column;
        gap: 35px;
    }
    .footer-section{
        padding: 0 60%;
        width: 100%;
    }
}
